.clear{
    .box{
        height 580px
    }
    .middle{
        background: #fff;
    }
    .article{
        height 580px
        width 1000px
        margin 0 auto
        .title{
            margin-top 12px
            font-size 40px
        }
        .right{
            display flex
            flex-direction: column-reverse;
        }
        .paragraph{
            font-size 20px
            font-weight lighter
            margin-top 16px
            width 367px
            color: rgba(0,0,0,0.80);
            line-height 30px

        }
    }
}