.main{
    height 910px
    background-image: linear-gradient(240deg, #2C97F8 0%, #0C8FB5 100%);
    
    .banner{
        height 820px
        background url("../assets/images/bg_head.png") no-repeat bottom center
        background-size 100%
        color #fff
        .banner-main{
            width 1000px
            height 760px
            position relative
            margin 0 auto
            margin-top 60px
        }
        .title{
            
            font-size 72px
            letter-spacing: 10px;
        }
        .subtitle{
            font-size 36px
            font-weight lighter
            margin-top 16px
            span{
                width 8px
                height 8px
                background #fff
                margin-left 24px
                margin-right 24px
                border-radius 50%
            }
        }
        a{
            margin-top 60px
            background: #FFFFFF;
            border-radius: 38px;     
            width 301px
            height 76px
            font-size 24px
            color: rgba(15,124,216,1)
            span{
                margin-left 9px
            }

        }
        .banner-img{
            position absolute
            left 0
            bottom 0
        }
    }
}