.main{
    height 910px
    background-image: linear-gradient(180deg, #0072C9 0%, #00D7C1 100%);
    header{
        height 90px;
        background: rgba(255,255,255,0.06);
        color #fff
        .content{
            width 1000px
            margin 0 auto
            height 90px
        }
        .label{
            color: rgba(255,255,255,0.50);
            padding-left 16px
            margin-left 16px
            height 18px
            border-left 2px solid rgba(255,255,255,0.16)
        }
        .right{
            a{
                color #FFF
                font-size 18px
            }
            span{
                width 1px
                height 16px
                background: rgba(255,255,255,0.16);
                border-radius: 16px;   
                margin-left 19px 
                margin-right 19px
            }
        }
    }
    .banner{
        height 820px
        background url("../assets/images/bg_head.png") no-repeat bottom center
        background-size 100%
        color #fff
        .banner-main{
            width 1000px
            height 760px
            position relative
            margin 0 auto
            margin-top 60px
        }
        .title{
            
            font-size 72px
            letter-spacing: 10px;
        }
        .subtitle{
            font-size 36px
            font-weight lighter
            margin-top 16px
            span{
                width 8px
                height 8px
                background #fff
                margin-left 24px
                margin-right 24px
                border-radius 50%
            }
        }
        a{
            margin-top 60px
            background: #FFFFFF;
            border-radius: 38px;     
            width 301px
            height 76px
            font-size 24px
            color: #75C353;
            span{
                margin-left 9px
            }

        }
        .banner-img{
            position absolute
            left 0
            bottom 0
        }
    }
}