header{
        height 90px;
        background: rgba(255,255,255,0.06);
        color #fff
        .content{
            width 1000px
            margin 0 auto
            height 90px
        }
        .label{
            color: rgba(255,255,255,0.50);
            padding-left 16px
            margin-left 16px
            height 18px
            border-left 2px solid rgba(255,255,255,0.16)
        }
        .right{
            a{
                color #FFF
                font-size 18px
            }
            span{
                width 1px
                height 16px
                background: rgba(255,255,255,0.16);
                border-radius: 16px;   
                margin-left 19px 
                margin-right 19px
            }
        }
    }