.privacy{
    line-height: 25px
    max-width 1400px
    margin 40px auto 60px
    
    h2{
        text-align: center
        font-size: 25px
        margin-bottom: 40px
    }
    div,ul{
        margin-top: 15px
    }
    li{
        margin-top: 5px
    }
    table,td{
        border: 1px solid #ddd
    }
    td{
        vertical-align: middle
        padding:8px 12px
    }
}

.navbg{
        height 90px;
        background: #0072c9;
    }